# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# SQLite or local DBs
*.db
*.sqlite3

# -------------------------
# Project-specific folders
# -------------------------
/shelf/
/httpRequests/

# -------------------------
# IDEs
# -------------------------
# VSCode
.vscode/
# JetBrains IDEs
.idea/
workspace
